.mainheading{
    text-align: center;
    background-color: #00001a;
    color: #ffffff
}
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

nav ul li:last-child {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.grade {
  border: 1px solid black;
  border-collapse: collapse;
}

tr, td, th {
    border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.TableTitle {
    color: red;
    text-decoration: underline;
}

body {
    background-color: #b30000;
}


btnCalculate {
    background-color: #4CAF50;
}

#formstyling {
    width: 500px ;
  margin-left: auto ;
  margin-right: auto ;

}
       
h2{
    text-align:center;
    background-color: #00001a;
    color: #ffffff
}

#maintext {
    text-align: center;
    color: black;
    
}

#mainbody {
  background-color: #ccccff;
 }
 
 #wrapper
{
	margin-left:auto;
	margin-right:auto;
	width:970px;
	border: solid white 2px;
	padding: 1em;
	background-color: #e6e6ff;
	box-shadow: 10px 10px 5px grey;
}

#duties{
    text-align:left;
    margin-left: 25%;
}

#achievements{
    text-align:left;
    margin-left: 25%;
}

#products{
    text-align:left;
    margin-left: 25%;
}

#cloud{
    width:200px;
    height:150px;
}

p{
     font-family: Arial, Helvetica, sans-serif;
}
#image{
    margin-left: 35%;
    top:200px;
    
}

#container{
    float:left;
}

