
/*Heading design*/
.mainheading{
    text-align: center;
    background-color: #00001a;
    color: #ffffff;
    margin-top:0px;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

/*Nav Bar design*/
nav ul li:last-child {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.grade {
  border: 1px solid black;
  border-collapse: collapse;
}

/*Designing the table*/
tr, td, th {
    border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.TableTitle {
    color: red;
    text-decoration: underline;
}

/*Designing forms*/
#formstyling {
    width: 300px ;
    margin:auto;
    margin-left: auto ;
    margin-right: auto ;
    vertical-align: middle;

}
       
/*Design of main text*/
#maintext {
    text-align: center;
    color: black;
    
}

/*Design of main body*/
#mainbody {
  background-color:#ccddff;
  font-family: Arial, Helvetica, sans-serif;
 }
 
/*Design of wrapper around main text*/
#wrapper{
	margin-left:auto;
	margin-right:auto;
	width:970px;
	border: solid white 2px;
	padding: 1em;
	padding-bottom: 55px;
	background-color: #e6eeff;
	box-shadow: 10px 10px 5px grey;
}


/*Positioning of list items*/
#duties{
    text-align:left;
    margin-left: 25%;
}

#achievements{
    text-align:left;
    margin-left: 25%;
}

#skills{
    text-align:left;
    margin-left: 40%;
}

#products{
    text-align:left;
    margin-left: 25%;
}

/*Image design*/
#cloud{
    width:200px;
    height:150px;
}

/*Image positioning*/
#image{
    position: absolute;
    right: 25%;
}

/*Position of a div tag*/
#container{
    float:left;
}

/*Design of the buttons*/
.btnCalc{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #4CAF50;
}

.btnCalc:hover {
    background-color: #4CAF50;
    color: white;
}

#btnProceed{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #f44336;
}

#btnProceed:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

#btnProceed:hover {
    background-color: #f44336;
    color: white;
}

.btnClear{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
     background-color: white;
    border: 2px solid #555555;
}


#btnPurchase{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:white; 
    border: 2px solid #f44336;
}

#btnPurchase:hover{
    background-color: #f44336;
    color: white;
}

#btnPurchase:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

#btnValidate{
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #008CBA;
    background-color: #008CBA;
}

.btnNext{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    border-radius: 8px;
    
}

.btnShop{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size:30px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #f44336;
    
}
    
.btnShop:hover{
    background-color: #f44336;
    color: white;
}

.btn-primary{
    float: right;
}

.btn-success{
    float: right;
}

/*Positionig of resources*/
#resources{
    font-size: 12px;
    margin-bottom: -45px;
}