.mainheading{
    text-align: center;
    background-color: #00001a;
    color: #ffffff;
    margin-top:0px;
}
.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

nav ul li:last-child {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.grade {
  border: 1px solid black;
  border-collapse: collapse;
}

tr, td, th {
    border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.TableTitle {
    color: red;
    text-decoration: underline;
}

body {
    background-color: #b30000;
}


btnCalculate {
    background-color: #4CAF50;
}

#formstyling {
    width: 300px ;
    margin:auto;
    margin-left: auto ;
    margin-right: auto ;
    vertical-align: middle;

}
       
h2{
    text-align:center;
    background-color: #00001a;
    color: #ffffff
}

#maintext {
    text-align: center;
    color: black;
    
}

#mainbody {
  background-color: #ccccff;
 }
 
 #wrapper
{
	margin-left:auto;
	margin-right:auto;
	width:970px;
	border: solid white 2px;
	padding: 1em;
	padding-bottom: 55px;
	background-color: #e6e6ff;
	box-shadow: 10px 10px 5px grey;
}

#duties{
    text-align:left;
    margin-left: 25%;
}

#achievements{
    text-align:left;
    margin-left: 25%;
}

#products{
    text-align:left;
    margin-left: 25%;
}

#cloud{
    width:200px;
    height:150px;
}

p{
     font-family: Arial, Helvetica, sans-serif;
}

#image{
     
    position: absolute;
    right: 25%;
  
}

#container{
    float:left;
}

.btnCalc{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #4CAF50;
}

.btnCalc:hover {
    background-color: #4CAF50;
    color: white;
}

#btnProceed{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #f44336;
}

#btnProceed:hover {
    background-color: #f44336;
    color: white;
}

.btnClear{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
     background-color: white;
    border: 2px solid #555555;
}


#btnPurchase{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #f44336;
}

#btnPuchase.hover {
    background-color: #f44336;
    color: white;
}

#btnValidate{
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #008CBA;
    background-color: #008CBA;
}

.btnNext{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    border-radius: 8px;
    
}

.btnShop{
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #008CBA;
}
    
.btnShop:hover{
    background-color: #008CBA;
    color: white;
}

.btn-primary{
    float: right;
}

.btn-success{
    float: right;
}