
/*CSS for pagepilling*/
#section4{
    background-color:#e6eeff;
}    

#section5{
    background-color:#e6eeff;
}    

#section6{
    background-color:#e6eeff;
}    

#section7{
    background-color:#e6eeff;
}    

#section8{
    background-color:#e6eeff;
}    
/*Position of button*/
.shopButton{
    text-align: center;
    text-decoration: none;
}

.section{
   background-color:#e6eeff;
}