#section1{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQuHbeD6ws5_tfIH4ZVJKd_RuT9dbWyJ20-c60hFFFsW6oxw1RQw");
    background-repeat: no-repeat;
    
}
#section2{
    background-image:url("https://cdn5.tropicalsky.co.uk/images/970x340/usa-multi-centres.jpg");
    background-repeat: no-repeat;
    
}
#section3{
    background-image: url("http://innovationdublin.ie/wp-content/uploads/2017/02/cropped-Innovation-Dublin.jpg");
    background-repeat: no-repeat;
    
}
.section{
    text-align:  center;
    color: white;
    font-size: 10px;
}

