#section1{
    background-image:url("http://www.citylifebarcelona.com/wp-content/uploads/barcelona1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
#section2{
    background-image:url("https://s-media-cache-ak0.pinimg.com/originals/91/91/e7/9191e7b720315d3e9dcc0723650789db.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
#section3{
    background-image:url("https://s3.eu-central-1.amazonaws.com/locationscoutnet/images/2015-01/berlin-skyline-germany-jqn8_l.jpeg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    
}
.section{
    font-weight: bolder;
    text-align:  center;
    color: white;
    font-size:200%;
    text-shadow: 2px 2px 4px #000000;
    
}
